@font-face {
    font-family: FTPolar;
    src: url("../font/ft-polar-regular.otf") format("opentype");
}

@font-face {
    font-family: FTPolar;
    font-weight: bold;
    src: url("../font/ft-polar-bold.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: fit-content; 
}

button.btn-primary {
    border: 1px solid #01071B;
    background: #01071B;
    border-radius: 100px;
    color: #FFF;
}

button.btn-secondary {
    border: 1px solid #FFF;
    border-radius: 100px;
    background: #FFF;
    color: #01071B;
}

button.btn-transparent-outline {
    border: 1px solid #01071B;
    background: transparent;
    border-radius: 100px;
    color: #01071B;
}

a {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: fit-content; 
    text-decoration: none;
}

a.btn-primary {
    border: 1px solid #01071B;
    background: #01071B;
    border-radius: 100px;
    color: #FFF;
}


body {
    margin: 0;
    padding: 0;
    font-family: FTPolar, sans-serif;
}

.container-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.app-header {
    position: relative;
    background: rgb(255, 251, 247);
    font-family: sans-serif !important;
}

.app-header > .content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.app-header > .content > .sub-menu-service {
    position: absolute;
    z-index: 100;
    opacity: 0;
    display: none;
    flex: 1;
    width: 100%;
    top: 100%;
    left: 0;
    background: rgb(255, 251, 247);
}

.app-header > .content > .sub-menu-service > .list-service {
    display: flex;
    flex: 1;
    position: relative;
    min-height: 500px;
    max-height: 700px;
    border-top: 1px solid rgb(174, 174, 174);
}

.app-header > .content > .sub-menu-service > .list-service > .item {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding: 30px 40px 150px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-right: 1px solid rgb(174, 174, 174);
    z-index: 10;
}

.app-header > .content > .sub-menu-service > .list-service > .item:hover {
    background: rgb(241, 250, 255);
}

.app-header > .content > .sub-menu-service > .list-service > .item > h3 {
    font-size: 32px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    line-height: 1.15;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.app-header > .content > .sub-menu-service > .list-service > .item > span {
    font-size: 18px;
}

.app-header > .content > .sub-menu-service > .list-service > .item > img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 9.5vw;
}

.app-header > .content > .left {
    align-self: center;
}

.app-header > .content > .center {
    align-self: center;
}

.app-header > .content > .right {
    align-self: center;
}

.app-header > .content > .center > .list {
    display: flex;
    flex-direction: row;
}

.app-header > .content > .center > .list > .item {
    padding: 0 12px;
    margin: auto 12px;
    cursor: pointer;
}

.app-header > .content > .center > .list > .item > span {
    color: #000;
    font-size: 24.5px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px; /* 106.122% */
    letter-spacing: -0.26px;
    user-select: none;
}

.app-header > .content > .right > .list {
    display: flex;
    flex-direction: row;
}

.app-header > .content > .right > .list > button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 12px 24px;
    margin: auto 10px;
}

.app-header > .content > .right > .list > button.btn-transparent-outline {
    border: 1px solid #01071B;
    background: transparent;
    border-radius: 100px;
    color: #01071B;
}

.app-header > .content > .right > .list > button.btn-primary {
    border: 1px solid #01071B;
    background: #01071B;
    border-radius: 100px;
    color: #FFF;
}

.app-body {
    display: flex;
    flex-direction: column;
}

.app-body > .section-header {
    display: flex;
    flex-direction: column;
}

.app-body > .section-header > .content, 
.app-body > .section-header > .additional-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 700px;
}

.app-body > .section-header > .content > .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 100vh;
    padding: 40px;
    background-color: #060A2D;
}

.app-body > .section-growth > .content > .left {
    min-height: 100vh;
}

.app-body > .section-header > .content > .left > .top {
    display: flex;
    flex-direction: column;
}

.app-body > .section-header > .content > .left > .top > h1 {
    font-size: 57px;
    color: #BAE3F8;
    letter-spacing: -0.02em;
    line-height: 1.06;
    font-weight: bold;
    margin-top: 0;
}

.app-body > .section-header > .content > .left > .top > span {
    font-size: 26px;
    color: #BAE3F8;
    margin-bottom: 36px;
}

.app-body > .section-header > .content > .left > .top > button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 12px 24px;
    width: fit-content;
}

.app-body > .section-header > .content > .left > .top > button.btn-secondary {
    border: 1px solid #FFF;
    border-radius: 100px;
    background: #FFF;
    color: #01071B;
    padding: 12px 24px;
}

.app-body > .section-header > .content > .left > .bottom {
    display: flex;
    flex-direction: row;
}

.app-body > .section-header > .content > .left > .bottom > button {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
}

.app-body > .section-header > .content > .left > .bottom > button > img {
    margin: auto;
    align-items: center;
    align-self: center;
}

.app-body > .section-header > .content > .right {
    display: flex;
    flex: 1;
    position: relative;
}

.app-body > .section-header > .content > .right > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-body > .section-header > .additional-content {
    background-color: #BAE3F8;
    justify-content: space-between;
    padding: 20px 40px;
}

.app-body > .section-header > .additional-content > .left {
    display: flex;
}

.app-body > .section-header > .additional-content span {
    font-size: 1.8rem;
    line-height: 1.15;
    font-weight: bold;
    letter-spacing: -0.01em;
    align-self: center;
}

.app-body > .section-header > .additional-content button {
    padding: 12px 24px;
}


.app-body > .section-service {
    display: flex;
    flex-direction: column;
    background-color: #FFFBF7;
}

.app-body > .section-service > .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-service > .content > .header {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 110px;
}

.app-body > .section-service > .content > .header > span {
    text-align: center;
    margin-bottom: 0.4em;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-service > .content > .header > h2 {
    text-align: center;
    line-height: 1.1;
    font-size: 57px;
    letter-spacing: -0.02em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.app-body > .section-service > .content > .list-service {
    display: flex;
    flex: 1;
    background-color: #FFFBF7;
    padding-bottom: 80px;
    position: relative;
    padding:  0 40px 40px;
    min-height: 400px;
    max-height: 700px;
}

.app-body > .section-service > .content > .list-service > .bg-service {
    position: absolute;
    inset: calc(50% - 20px) 0px 0px;
    z-index: 0;
}

.app-body > .section-service > .content > .list-service > .bg-service > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-body > .section-service > .content > .list-service > .item {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    background: white;
    padding: 14px 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-right: 1px solid rgb(174, 174, 174);
    height: 500px;
    z-index: 10;
}

.app-body > .section-service > .content > .list-service > .item:hover {
    background: rgb(241, 250, 255);
}

.app-body > .section-service > .content > .list-service > .item > h3 {
    font-size: 32px;
    margin-bottom: 8px;
    letter-spacing: -0.02em;
    line-height: 1.15;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-service > .content > .list-service > .item > span {
    font-size: 18px;
    line-height: 1.3;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-service > .content > .list-service > .item > img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 9.5vw;
}

.app-body > .section-feature {
    display: flex;
    flex-direction: column;
    background-color: #FFFBF7;
}

.app-body > .section-feature > .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-feature > .content > .header {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 110px;
}

.app-body > .section-feature > .content > .header > span {
    text-align: center;
    margin-bottom: 0.4em;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-feature > .content > .header > h2 {
    text-align: center;
    line-height: 1.1;
    font-size: 57px;
    letter-spacing: -0.02em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.app-body > .section-feature > .content > .body {
    display: flex;
    flex-direction: column;
    background: #060A2D;
}

.app-body > .section-feature > .content > .body > .top {
    position: relative;
    width: calc(4 / 8 * (100% - 40px * 2));
    margin: 0px auto;
    z-index: 1;
    padding-bottom: 35px;
}

.app-body > .section-feature > .content > .body > .top::before {
    content: "";
    background: #060A2D;
    position: absolute;
    inset: 50% 0px 0px;
    z-index: 0;
    pointer-events: none;
}

.app-body > .section-feature > .content > .body > .top > .content {
    overflow: hidden;
    position: relative;
}


.app-body > .section-feature > .content > .body > .top > .content > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-body > .section-feature > .content > .body > .bottom {
    background: #060A2D;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.app-body > .section-feature > .content > .body > .bottom > .list {
    display: grid;
    margin: 0px auto;
    color: #BAE3F8;
    width: calc(6 / 8 * (100% - 40px * 2));
    grid-template-columns: repeat(3, 1fr);
    gap: 120px 30px;
    z-index: 1;
    position: relative;
}

.app-body > .section-feature > .content > .body > .bottom > .list > .item {
    display: flex;
    flex-direction: column;
}

.app-body > .section-feature > .content > .body > .bottom > .list > .item > h3 {
    letter-spacing: -0.02em;
    margin-bottom: 0.4em;
    color: #BAE3F8;
    font-size: 18px;
    line-height: 1.15;
    font-weight: bold;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-feature > .content > .body > .bottom > .list > .item > p {
    color: #BAE3F8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.app-body > .section-feature > .content > .body > .bottom > .btn-content {
    text-align: center;
    margin-top: 80px;
}

.app-body > .section-feature > .content > .body > .bottom > .btn-content > button {
    padding: 12px 20px;
}

.app-body > .section-award {
    display: flex;
    background: #FFFBF7;
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}

.app-body > .section-award  > .list {
    display: grid;
    margin: 0px auto;
    color: #01071B;
    width: calc(6 / 8 * (100% - 40px * 2));
    grid-template-columns: repeat(3, 1fr);
    gap: 120px 30px;
    z-index: 1;
    position: relative;
}

.app-body > .section-award  > .list > .item {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.app-body > .section-award  > .list > .item > .img-content {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    min-height: 64px;
}

.app-body > .section-award  > .list > .item > .img-content > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-body > .section-award  > .list > .item > p {
    margin: 0;
    line-height: 1.4;
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.app-footer {
    display: flex;
}

.app-footer > .content {
    display: flex;
    flex: 1;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background: rgb(6, 10, 45);
    text-align: left;
    color: white;
    position: relative;
    z-index: 1;
}

.app-footer > .content > .list-footer {
    display: flex;
    flex: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 20px;
}

.app-footer > .content > .list-footer > .item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    font-weight: normal;
}

.app-footer > .content > .list-footer > .item > .top {
    display: flex;
    flex-direction: column;
}

.app-footer > .content > .list-footer > .item > .top > img {
    height: auto;
    display: block;
    margin-bottom: 0.05em;
    width: 12.4vw !important;
}

.app-footer > .content > .list-footer > .item > .top > h2 {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
}

.app-footer > .content > .list-footer > .item > .top > span {
    margin-top: 0.5em;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
}


.app-footer > .content > .list-footer > .item > .bottom {
    position: relative;
    margin-top: 190px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}


.app-footer > .content > .list-footer > .item > .bottom-social {
    display: flex;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
}

.app-footer > .content > .list-footer > .item > .bottom-social > img {
    padding-left: 10px;
    padding-right: 10px;
    align-self: self-end;
}


@media screen and (min-width: 1200px) {

    .app-body > .section-header > .content {
        min-height: 600px;
        min-height: calc((100vh - 80px) - 80px) !important;
    }
    .app-body > .section-header > .additional-content span {
        font-size: 26px;
    }
    .app-footer > .content > .list-footer > .item > .top > img {
        width: 180px !important;
    }
}

@media screen and (min-width: 700px) {
    .app-body > .section-header > .content {
        height: calc((100vh - 80px) - 80px);
    }
    .app-body > .section-header > .additional-content span {
        font-size: 26px;
    }

    .app-body > .section-feature > .content > .body > .bottom > .list > .item > h3 {
        font-size: 24px !important;
        font-weight: bold;
    }

    .app-body > .section-award  > .list > .item > p {
        font-size: 1.25018vw !important;
    }   
}

@media screen and (max-width: 699px) {
    .app-body > .section-header > .content {
        display: flex;
        flex-direction: column;
    }

    .app-body > .section-header > .content > .left {
        padding: 28px;
    }

    .app-body > .section-header > .content > .left > .top > h1 {
        font-size: 28px !important;
        letter-spacing: -0.02em;
        line-height: 1.06;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }

    .app-body > .section-header > .content > .left > .top > span {
        margin-top: 15px;
        font-size: 16px !important;
        line-height: 1.15;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }

    .app-body > .section-header > .content > .left > .top > button {
        font-size: 12px !important;
        padding: 12px 20px !important;
    }

    .app-body > .section-header > .content > .right {
        height: 100% !important;
        position: relative;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }

    .app-body > .section-header > .additional-content {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .app-body > .section-header > .additional-content span {
        text-align: center;
        font-size: 18px !important;
        text-decoration: underline;
    }
    .app-body > .section-service > .content > .header {
        padding: 60px 0 !important;
    }
    
    .app-body > .section-service > .content > .header > span {
        font-size: 10px !important;
    }
    .app-body > .section-service > .content > .header > h2 {
        font-size: 28px !important;
    }
    .app-body > .section-service > .content > .list-service {
        display: flex;
        flex-direction: column;
        padding: 0 28px !important;
    }

    .app-body > .section-service > .content > .list-service > .item {
        aspect-ratio: 1.43 / 1;
        border-right: none;
        border-bottom: 1px solid rgb(174, 174, 174);
        padding: 13px 20px !important;
        transition: all 0.3s ease 0s;
        cursor: pointer; 
    }

    .app-body > .section-service > .content > .list-service > .item > h3 {
        font-size: 22px !important;
    }
    .app-body > .section-service > .content > .list-service > .item > span {
        font-size: 16px !important;
    }

    .app-body > .section-service > .content > .list-service > .item > img {
        width: 70px !important;
    }

    .app-body > .section-service > .content > .list-service > .bg-service {
        top: 145px;
    }

    .app-body > .section-feature > .content > .header {
        padding: 60px 0 !important;
    }
    
    .app-body > .section-feature > .content > .header > span {
        font-size: 10px !important;
    }
    .app-body > .section-feature > .content > .header > h2 {
        font-size: 28px !important;
    }

}


