.app-body {
    display: flex;
    flex-direction: column;
}

/* Section Start */
.app-body > .section-header {
    display: flex;
    flex-direction: column;
}

.app-body > .section-header > .content, 
.app-body > .section-header > .additional-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.app-body > .section-header > .content > .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100vh;
    font-size: 2rem;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-header > .content > .left > .top {
    background-color: #ffdf00;
    flex: 1;
    padding: 3rem 16rem 3rem 3rem;
}

.app-body > .section-header > .content > .left > .bottom {
    flex: 1;
    background-color: #0468e9;
    padding: 3rem 16rem 3rem 3rem;
}

.app-body > .section-header > .content > .right {
    display: flex;
    flex: 1;
    position: relative;
}

.app-body > .section-header > .content > .right > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* Section Header End */


/* Section Offering Start */

.app-body > .section-offering {
    display: flex;
    flex-direction: column;
}

.app-body > .section-offering > .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-offering > .content > .top {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10rem 0;
    background-color: #fffbf7;
}

.app-body > .section-offering > .content > .top > p:first-child {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-offering > .content > .top > p:last-child {
    font-size: 5rem;
    font-weight: bolder;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-offering > .content > .bottom {
    position: relative;
    min-height: 100vh;
}

.app-body > .section-offering > .content > .bottom > .offers-container {
    position: absolute;
    width: 40%;
    height: fit-content;
    right: -50%;
    left: 0;
    top: -6%;
    margin: auto;
    background-color: #fff;
    z-index: 10;
}

.accordion-title {
    cursor: pointer;
    padding: 3rem;
    display: flex;
    gap: 1rem;
}

.accordion-title > div:last-child {
    flex: 1;
}

.accordion-title > div > .accordion-title-text {
    font-weight: 900;
    font-size: 1.7rem;
}

.accordion-title > .button-plus {
    background-color: #01071b;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1em sans-serif;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
}

.accordion-title > .button-plus > i {
    font-size: 1.2rem;
}

.offers {
    border-bottom: 1px solid #2a2929;
}

.app-body > .section-offering > .content > .bottom > div:last-child {
    height: 100vh;
    width: 100%;
}

.app-body > .section-offering > .content > .bottom > div:last-child > .image {
    background-image: url(../img/illustration-residential-1.webp);
    height: 100%;
    width: 100%;
}
/* Section Offering End */