.app-body {
    display: flex;
    flex-direction: column;
}

/* Section Start */
.app-body > .section-header {
    display: flex;
    flex-direction: column;
}

.app-body > .section-header > .content, 
.app-body > .section-header > .additional-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.app-body > .section-header > .content > .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 50vh;
    font-size: 24px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-header > .content > .left > .top {
    background-color: #ffdf00;
    flex: 1;
    padding: 1.8rem;
}

.app-body > .section-header > .content > .left > .bottom {
    flex: 1;
    background-color: #0468e9;
    padding: 1.8rem;
}

.app-body > .section-header > .content > .right {
    display: flex;
    flex: 1;
    position: relative;
}

.app-body > .section-header > .content > .right > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* Section Header End */


/* Section Offering Start */
.app-body > .section-offering {
    display: flex;
    flex-direction: column;
}

.app-body > .section-offering > .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-offering > .content > .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 8rem 0;
    background-color: #fffbf7;
}

.app-body > .section-offering > .content > .top > p:first-child {
    margin: 0;
    font-size: 12px;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-offering > .content > .top > p:last-child {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-offering > .content > .bottom {
    position: relative;
}

.app-body > .section-offering > .content > .bottom > .offers-container {
    position: absolute;
    width: 50%;
    height: fit-content;
    right: -42%;
    left: 0;
    top: -6%;
    margin: auto;
    background-color: #fff;
    z-index: 10;
}

.accordion-title {
    cursor: pointer;
    padding: 2.5rem;
    display: flex;
    gap: 1rem;
}

.accordion-title > div:last-child {
    flex: 1;
}

.accordion-title > div > .accordion-title-text {
    font-weight: 800;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}

.accordion-title > .button-plus {
    background-color: #01071b;
    border-radius: 100%;
    width: 1.8rem;
    height: 1.8rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

.accordion-title > .button-plus > i {
    font-size: 0.875rem;
}

.offers {
    border-bottom: 1px solid #2a2929;
}

.app-body > .section-offering > .content > .bottom > div:last-child {
    height: 55rem;
    width: 100%;
}

.app-body > .section-offering > .content > .bottom > div:last-child > .image {
    background-image: url(../img/illustration-residential-1.webp);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.button-read-more {
    margin-left: auto;
    width: fit-content;
    text-decoration: none;
    color: #ff7d7d;
    z-index: inherit;
    -webkit-font-smoothing: antialiased;
}
/* Section Offering End */

/* Section Residential */
.section-residential {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.section-residential > .top {
    background-color: #36a16d;
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-residential > .top > span:first-child {
    margin-top: 7rem;
    font-weight: 800;
}

.section-residential > .top > span:last-child {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.section-residential > .bottom {
    background-color: #fffbf7;
    height: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-residential > .bottom > div  {
    display: flex;
    gap: 1rem;
    height: 100%;
    justify-content: center;
}

.section-residential > .bottom > div > div {
    height: fit-content;
    margin-top: 15%;
    width: 23%;
}

.section-residential > .bottom > div > div > .title {
    font-weight: 900;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
}

.section-residential > .bottom > div > div > .description {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.section-residential > .bottom > button {
    padding: 0.5rem 1rem;
    margin-bottom: 7%;
}

.section-residential > img {
    position: absolute;
    width: 50%;
    top: -3rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* Section Residential End*/

/* Section Residential 2 */
.app-body > .section-feature {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    min-height: 530px;
}

.app-body > .section-feature > .right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-feature > .right > img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.app-body > .section-feature > .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app-body > .section-feature > .left > .bg-top {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #bae3f8;
    height: calc(40vh - (80px / 2));
    padding: 40px;
}

.app-body > .section-feature > .left > .bg-top > span {
    margin-bottom: 20px;
    color: #BAE3F8;
    font-size: 12px;
}

.app-body > .section-feature > .left > .bg-top > h1 {
    font-size: 42px;
    letter-spacing: -0.02em;
    line-height: 1.06;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-feature > .left > .bg-top > p {
    margin-top: 25px;
    font-size: 20px;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
}

.app-body > .section-feature > .left > .bg-top > button {
    padding: 6px 14px;
    margin-top: 24px;
    font-size: 9px;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
}
/* Section Residential 2 End  */