

@media screen and (min-width: 700px) {
    .mobile-screen {
        display: none !important;
    }
    .app-header {
        display: flex;
        flex: 1;
    }

    .app-header > .content {
        display: flex;
        flex: 1;
        padding: 20px;
    }

    .app-footer > .content > .list-footer > .item {
        max-width: 30%;
    }
    
    
}

@media screen and (max-width: 699px) {
    .desktop-screen {
        display: none !important;
    }
    .app-header {
        display: flex;
        padding: 0;
        height: 40px;
        background: rgb(255, 251, 247);
    }
    .app-header .content {
        flex: 1;
        height: 40px;
        padding-left: 28px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        /* position: fixed; */
        z-index: 10;
        background: rgb(255, 251, 247);
    }


    .app-header > .content > .left > img {
        height: 20px;
        width: 88px;
        display: block;
    }
    
    .app-header > .content > .right > .list > .btn-primary {
        height: 20px;
        padding: 0px 10px;
        line-height: 1;
        font-size: 10px;
        display: flex;
        align-self: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .app-header > .content > .right > .list > .btn-primary > span {
        color: #ffffff;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: bold;
    }

    .app-header > .content > .right > .list > .btn-nav-menu {
        background: black;
        color: white;
        align-self: stretch;
        aspect-ratio: 1 / 1;
        min-width: 40px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 10px !important;
        margin-right: 0px !important;
        padding: 0 !important;
        border: none !important;
        cursor: pointer;
    }

    .app-header-mobile {
        z-index: 50;
        background: rgb(12, 23, 100);
        color: rgb(186, 227, 248);
        transform: translate3d(0px, 0px, 0px);
        position: fixed;
        inset: 0px;
        overflow: hidden scroll;
        padding: 0 28px;
    }

    .app-header .content-mobile {
        display: none;
        flex-direction: column;
        z-index: 50;
        background: rgb(12, 23, 100);
        color: rgb(186, 227, 248);
        transform: translate3d(0px, 0px, 0px);
        position: fixed;
        inset: 0px;
        overflow: hidden scroll;
        padding: 0 28px;
        opacity: 0;
    }

    .app-header .content-mobile .header {
        height: 40px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        border-bottom: 0.5px solid rgb(186, 227, 248);
        margin-left: calc(-1 * 28px);
        margin-right: calc(-1 * 28px);
        padding: 0 28px;

    }

    .app-header .content-mobile .header > .left > img  {
        height: 20px;
        width: 88px;
        display: block;
    }

    .app-header > .content-mobile > .header > .btn-nav-menu {
        border-top: none;
        border-right: none;
        border-bottom: none;
        border-image: initial;
        appearance: none;
        background: none;
        padding: 0px 5px 0px 10px;
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 50;
        color: white;
        border-left: 0.5px solid rgb(186, 227, 248);
        height: 100%;
        transform: translateX(20px);
    }

    .app-header > .content-mobile > .body-service {
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(186, 227, 248, 0.3);
    }

    .app-header > .content-mobile > .body-service > h2 {
        padding: 10px 0px;
        font-size: 30px;
        letter-spacing: -0.02em;
        line-height: 1.15;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        color: rgb(186, 227, 248);
    }

    .app-header > .content-mobile > .body-service > a {
        margin-bottom: 1em;
        margin-top: 0.5em;
        font-size: 20px;
        text-decoration: none;
        color: rgb(186, 227, 248);
        text-transform: capitalize;
        font-weight: 400;
    }

    .app-header > .content-mobile > .body-service > a:last-child {
        margin-bottom: 3em;
    }

    .app-header > .content-mobile > .body-item {
        display: flex;
        flex-direction: column;
        border-bottom: 0.5px solid rgba(186, 227, 248, 0.3);
    }

    .app-header > .content-mobile > .body-item > a > h2 {
        padding: 10px 0px;
        font-size: 30px;
        letter-spacing: -0.02em;
        line-height: 1.15;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        color: rgb(186, 227, 248);
        text-transform: capitalize;
    }

    .app-header > .content-mobile > .body-join {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 28px;
        width: 100%;
    }

    .app-header > .content-mobile > .body-join > a {
        display: flex;
        flex: 1;
        background: rgb(4, 104, 233);
        border-radius: 100px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        padding: 12px 20px;
        border: 1px solid #01071B;
        text-align: center;
        line-height: 1;
        transition: background 0.3s ease 0s, color 0.3s ease 0s;
    }
    
    .app-header > .content-mobile > .body-join > a > span {
        font-size: 12px;
        color: white;
        margin: auto;
    }

    .app-footer > .content {
        display: flex;
        flex: 1;
        padding-left: 28px;
        padding-right: 28px;
    }
}
